@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.main-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgb(218, 218, 218);

}

.container-1 {
    width: 80%;
    height: 60vh;
    background-image: url(./assets/milad-fakurian-iFu2HILEng8-unsplash.jpg);
    background-position: center;
    background-size: cover;
    border-radius: 30px;
    box-shadow: 3px 2px 15px grey;

}


/* ------------------------NAVBAR----------------------- */


.navbar {
    display: flex;
    justify-content: space-between;
    padding-inline: 100px;
    /* border: 1px solid black; */
    color: white;

}

.navbar p {
    padding-top: 8px;
    font-size: 50px;
    color: black;
}

.navbar ul {
    display: flex;
}

.navbar ul li {
    list-style: none;
    padding: 25px 20px;
}

/* ---------------------LEFT TEXT ------------------- */


.left-text {
    width: 50%;
    height: auto;
    padding-left: 100px;
    /* border: 1px solid black; */
    color: white;
}

.left-text h1 {
    font-size: 2rem;
}

.para {
    font-size: 14px;
    padding-block: 10px;
}

.left-text span {
    display: flex;

}

.left-text span p {
    padding-right: 50px;
    font-size: 48px;
    color: black;
}


/* -----------------RIGHT-IMG---------------- */


.left-right {
    display: flex;
}

.right-img {
    width: 50%;
    /* border: 1px solid black; */
    height: 48vh;
    display: flex;
    justify-content: end;
    align-items: end;
    position: relative;

}

.right-img img {
    width: 200px;
    /* position: absolute; */
}

#img-1 {
    position: absolute;
    width: 300px;
    z-index: 1;
}

#img-2 {
    position: absolute;
    width: 230px;
    z-index: 1;
    left: 10%;
    right: 70%;
}

#img-3 {
    position: absolute;
    width: 450px;
    bottom: 20%;
}


/* ----------------------container2------------------------ */

.container-2 {
    width: 80%;
    height: 35vh;
    margin-top: 10px;
    display: flex;

    /* border: 1px solid black; */
    border-radius: 30px;
    box-shadow: 3px 2px 15px grey;

}

.cont-text-right {
    width: 50%;
    height: auto;
    padding-left: 100px;
    /* border: 1px solid black; */
}

.cont-text-right h1 {
    font-size: 1.6rem;
    padding-block: 24px;
    color: rgb(99, 100, 98);
}

.cont-text-right p {
    font-size: .8rem;
    color: rgb(99, 100, 98);
}

#btn {
    width: 80px;
    height: 35px;
    border-radius: 30px;
    margin-top: 15px;
    background-color: orange;
}

/* -----------------cont-text left-------------------- */


.cont-text-left {
    width: 50%;
    height: auto;
    display: flex;
    flex-direction: column;
    /* border: 1px solid black; */
    /* align-items: center; */
    justify-content: center;
    padding-left: 50px;
}

.box-1 {
    display: flex;
    /* align-items: center; */
    /* padding-right: 50px; */
}

.box-2 {
    display: flex;
    margin-top: 30px;
    /* align-items: center; */
}

#logo-1 {
    width: auto;
    height: auto;
    display: flex;
    margin-right: 60px;

}

#logo-1 i {
    font-size: 35px;
    padding-right: 10px;
}

#logo-1 span p {
    font-size: 12px;
}

/* ----------------logo-2--------------------------------- */

#logo-2 {
    display: flex;
    width: auto;
    height: auto;
}

#logo-2 i {
    font-size: 35px;
    padding-right: 10px;
}

#logo-2 span p {
    font-size: 12px;
}

/* ------------------logo-3------------------------- */

#logo-3 {
    width: auto;
    height: auto;
    display: flex;
    margin-right: 60px;
}

#logo-3 i {
    font-size: 35px;
    padding-right: 10px;
}

#logo-3 span p {
    font-size: 12px;
}

/* --------------------------logo-4-------------------------- */


#logo-4 {
    width: auto;
    height: auto;
    display: flex;
    /* margin-right: 20px; */
}

#logo-4 i {
    font-size: 35px;
    padding-right: 10px;
}

#logo-4 span p {
    font-size: 12px;
}



/* -------------------------300px responsive---------------------------- */

@media (max-width:300px) {
    .navbar ul {
        display: none;
    }

    .left-text {
        width: 100%;
        height: auto;
        padding-left: 0%;
    }

    .left-right h1{
        /* font-size: ; */
    }
}